{{ define "main" }}
<div class="container mt-5">
  <div class="row">
    <section id="main" class="col-5">
      <div>
        <article id="content">
          {{ .Content }}
        </article>
        <ul class="list-inline mt-2">
          <li class="list-inline-item">
            <time datetime="{{ .PublishDate.Format "2006-Jan-02" }}"><i class="fas fa-calendar "></i>
              {{ .PublishDate.Format "2 Jan 2006" }}</time>
          </li>
          <li class="list-inline-item">
            <ul class="list-inline">
              {{ with .Params.series }}
              {{ range . }}
              <a class="list-inline-item text-dark" href="{{ "series" | absURL }}{{ . | urlize }}"><i
                  class="fas fa-folder"></i>
                {{ . }}</a>
              {{ end }}
              {{ end }}
            </ul>
          </li>
          <li class="list-inline-item">
            <ul class="list-inline">
              {{ with .Params.tags }}
              {{ range . }}
              <a class="list-inline-item text-dark" href="{{ "tags" | absURL }}{{ . | urlize }}"><i
                  class="fas fa-tag"></i>
                {{ . }}</a>
              {{ end }}
              {{ end }}
            </ul>
          </li>
        </ul>
      </div>
    </section>
    <aside id="meta" class="col-7">
      <h1>
        {{ .Title }}
        <small class="text-muted">{{ .Params.conference }}</small>
      </h1>
      <p class="text-muted">{{ .Params.summary }}</p>
      <p>{{ .Params.description }}</p>
    </aside>
  </div>
</div>
{{ end }}
